html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

canvas {
    background-color: rgb(2, 18, 12);
    width: 100%;
    height: 100%;
    display: block;
}
body{margin: 0;}